<div class="flex items-center justify-between p-4 bg-white dark:bg-gray-800 shadow-md">
  <div class="flex items-center space-x-8 ml-auto">
    <i class="fas fa-search text-gray-600 dark:text-gray-300"></i>
    <button (click)="onNotificationsClick()" class="focus:outline-none">
      <i class="fas fa-bell text-gray-600 dark:text-gray-300"></i>
    </button>
    <div class="relative w-8 h-8">
      <img ngSrc="{{this.userPhotoUrl}}" alt="User" class="rounded-full object-cover" fill>
    </div>
  </div>
</div>
