<div class="flex flex-col h-screen">
  <!-- Top Bar -->
  <app-top-bar></app-top-bar>

  <div class="flex flex-1">
    <!-- Sidebar -->
    <nav
      class="bg-neutral-50 dark:bg-gray-800 w-64 h-full p-4 text-gray-600 dark:text-gray-200 shadow-lg flex flex-col justify-between">
      <ul class="space-y-4">
        <li *ngFor="let route of routes">
          <a [routerLink]="route.path" routerLinkActive="font-bold text-emerald-400"
             [routerLinkActiveOptions]="{ exact: true }"
             class="flex items-center space-x-2">
            <i [class]="route.icon"></i>
            <span>{{ route.name }}</span>
          </a>
        </li>
      </ul>

      <div class="border-t border-gray-800 dark:border-neutral-50 pt-4">
        <button (click)="toggleDarkMode()" class="flex items-center space-x-2 mb-4">
          <i [ngClass]="{'fas fa-sun': isDarkMode, 'fa-solid fa-moon': !isDarkMode}"></i>
          <span>Dark / Light Mode</span>
        </button>
        <button class="flex items-center space-x-2">
          <i class="fas fa-sign-out-alt"></i>
          <span>Log Out</span>
        </button>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="app-container p-4 flex-1 bg-neutral-200 dark:bg-gray-900">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>
